<div class="row">
    <div class="col-12">
        <div class="row" style="margin-top: 25px;">
            <div class="col-4"></div>
            <div class="col-4" style="text-align: center;">
                <h1>Proyectos</h1>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="list-group">
                    <a *ngFor="let proyecto of proyectos" href="#" class="list-group-item list-group-item-action active" style="margin-top: 3px;">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{proyecto}}</h5>
                        </div>
                        <p class="mb-1">Proyecto.</p>
                    </a>
                  </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-12" style="text-align: center;">
                <footer class="blog-footer">
                    <p>
                      <a href="/inicio">Inicio</a>
                    </p>
                  </footer>
            </div>
        </div>
    </div>
</div>