<app-barra></app-barra>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="row" style="margin-top: 15px; margin-bottom: 30px;">
                    <h5 for="files" class="form-label" style="margin-bottom: 15px;">Seleccione archivo</h5>
                    <input class="form-control" type="file" id="files" (change)="procesarArchivo($event.target.files)">
                </div>
                <div class="row">
                    <div class="container">
                        <h5>
                            Proyecto
                        </h5>
                        <div class="col-12">
                            <div class="row" style="margin: 5px;" >
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btnw" data-bs-toggle="modal" data-bs-target="#modal-nuevo-proyecto" >Nuevo Proyecto</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btnw" (click)="guardarProyecto()" >Guardar Proyecto</button>
                                </div>
                            </div>
                            <div class="row" style="margin: 5px;">
                                <div class="col-6">
                                    <!--
                                    <button type="button" class="btn btn-danger btnw" (click)="abrirModal('modal-nuevo-archivo')" >Nuevo Archivo</button>
                                    -->
                                    <button type="button" class="btn btn-danger btnw" data-bs-toggle="modal" data-bs-target="#modal-nuevo-archivo">Nuevo Archivo</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btnw" (click)="mostrarProyectos()" >Abrir Proyecto</button>
                                </div>
                            </div>
                            <div class="row" style="margin: 5px;" >
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btnw" data-bs-toggle="modal" data-bs-target="#modal-nuevo-paquete" >Nuevo Paquete</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger btnw" (click)="cerrarProyecto()">Cerrar Proyecto</button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px;">
                                <div>
                                    <ul >
                                        <li *ngIf="proyecto!=null" class="carpeta" [id]="proyecto.nombre" data-jstree='{"icon":"assets/img/carpeta.png"}'>
                                            <a (click)="expandir()" class="expand link-secondary">{{proyecto.nombre}}</a>
                                            <ul>
                                                <ng-container
                                                    *ngTemplateOutlet="Recursion; context:{ paquetes: proyecto.paquetePrincipal.paquetes, archivos:proyecto.paquetePrincipal.archivos}"
                                                ></ng-container>
                                                <ng-template #Recursion let-paquetes="paquetes" let-archivos="archivos">
                                                    <li class="carpeta" *ngFor="let paquete of paquetes" id="{{paquete.id}}" >
                                                        <a (click)="expandir()" class="expand link-secondary" >{{paquete.nombre}}</a>
                                                        <ul *ngIf="paquete.paquetes.length > 0 || paquete.archivos.length > 0">
                                                            <ng-container
                                                              *ngTemplateOutlet="Recursion; context:{ paquetes: paquete.paquetes, archivos: paquete.archivos }"
                                                            ></ng-container>
                                                        </ul>
                                                    </li>
                                                    <li class="archivo" *ngFor="let archivo of archivos" id="{{archivo.id}}" >
                                                        <a (click)="actualizarCodigoEditor(archivo.id)" class="expand link-secondary">{{archivo.nombre}}</a>
                                                    </li>
                                                </ng-template>
                                            </ul>
                                            {{expandir()}}
                                        </li>
                                    </ul>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="col-9">

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor" type="button" role="tab" aria-controls="editor" aria-selected="true">Editor</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="codigo3d-tab" data-bs-toggle="tab" data-bs-target="#codigo3d" type="button" role="tab" aria-controls="codigo3d" aria-selected="false">Codigo 3 direcciones</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="editor" role="tabpanel" aria-labelledby="editor-tab">
                        <div class="row">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-1"></div>
                                <div class="col-2">
                                    <h5 *ngIf="archivoActual!=null">
                                        {{archivoActual.nombre}}
                                    </h5>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-2">
                                    <h5 style="text-align: right;">Linea: {{getLinea()}}</h5>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-2">
                                    <h5>Columna: {{getColumna()}}</h5>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-12">
                                    <div class="app-ace-editor" #editor style="width: 100%;height:470px;" >{{codigoPrincipal}}</div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-danger" style="width: 70%;" (click)="compilar()" [disabled]="compilarDeshabilitado"  >Compilar</button>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-danger" style="width: 70%;" (click)="generarCodigo3d()" [disabled]="cod3dDeshabilitado" >Generar codigo 3D</button>
                                </div>
                                <div class="col-5"></div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-12">
                                <div class="container">
                                    <h6>
                                        Consola
                                    </h6>
                                    <div class="mb-3">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" readonly style="height: 100%;">{{getTxtConsola()}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="codigo3d" role="tabpanel" aria-labelledby="Codigo3d-tab">
                        <textarea readonly class="form-control font-monospace" id="cod3d" >{{codigo3d}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<!-- ----------------------- MODALES ---------------------- -->

<!--
<wj-modal id="modal-nuevo-archivo">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo archivo</h5>
            <button (click)="cerrarModal('modal-nuevo-archivo');" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [(ngModel)]="idArchivo" autocomplete="off" pattern="[0-9]+">
                <label for="floatingInput">Ingrese el nombre del archivo:</label>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModal('modal-nuevo-archivo');" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" (click)="crearArchivo(); cerrarModal('modal-nuevo-archivo');">Crear</button>
        </div>
        </div>
    </div>
</wj-modal>
-->

<div class="modal" id="modal-nuevo-archivo">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo archivo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [(ngModel)]="idArchivo" autocomplete="off" pattern="[0-9]+">
                <label for="floatingInput">Ingrese el nombre del archivo:</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="crearArchivo();">Crear</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-nuevo-paquete">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo paquete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [(ngModel)]="idPaquete" autocomplete="off">
                <label for="floatingInput">Ingrese el nombre del paquete:</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="crearPaquete();">Crear</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-nuevo-proyecto">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo proyecto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" [(ngModel)]="nombreProyecto" autocomplete="off">
                <label for="floatingInput">Ingrese el nombre del proyecto:</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="crearProyecto();">Crear</button>
        </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-info" #modalinfo>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Aviso!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating mb-3">
                <h5>{{textoInfo}}</h5>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
<button id="abrirModalInfo" [hidden]="true" type="button" class="btn btn-danger btnw" data-bs-toggle="modal" data-bs-target="#modal-info" >Nuevo Paquete</button>
