<div class="d-flex h-100 text-center text-white bg-dark" id="card">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Inicio</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link" href="/inicio">Contacto</a>
          </nav>
        </div>
      </header>
    
      <br>
      <br>

      <main class="px-3">
        <h1>Compilador Multilenguaje / Multifase.</h1>
        <br>
        <p class="lead">Crea tus propios programas utilizando sintaxis de python, java y C.</p>
        <br>
        <br>
        <br>
        <br>
        <p class="lead">
          <a href="/editor" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Empezar</a>
        </p>
        <br>
        <br>
        <br>
        <br>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Por <a href="https://github.com/willyardiano" class="text-white">@willyardiano</a>.</p>
      </footer>
    </div>
    
    
        
</div>